<template>
    <div class="container-padra">
        <div class="text-center titulo-cadastro">
            Preencha o formulario abaixo e tenha acesso aos melhores espaços pertinho de você
        </div >
        <div class="justifica-centro row">
            <div class="col-6">
                <FormCadastroUsuario />
            </div>
        </div>
    </div>
</template>

<script>
import FormCadastroUsuario from '@/components/FormCadastroUsuario.vue'
export default {
    components:{
        FormCadastroUsuario
    }
}
</script>

<style scoped>

.titulo-cadastro{
    font-size: 22px;
}
</style>