<template>
  <div>
        <div :style="{backgroundImage:`url('${imagemFundo}')`}"  class="bg" id="buscaLocal">
            <div class="container">
              <div class="text-center texto-emcima-busca">Encontre o espaço ideal para você</div>
              <Busca class="ajusta-busca-centro"/>
            </div>
        </div>
        <div :style="{backgroundImage:`url('${imagemFundoCadastrase}')`}"  class="bg" id="cadastro">
            <div class="container">
              <div class="text-center texto-cadastre">Cadastre seu espaço <q-btn color="primary" class="btn-cadastre">SAIBA MAIS</q-btn></div>
            </div>
        </div>
        <div>
            <div class="container">
              <div class="text-center texto-espacos-disponiveis">Espaços Disponiveis</div>
              <div>
                <ContainerEspacos />
              </div>
            </div>
        </div>
  </div>
</template>



<script>
import Header from '@/components/Header.vue'
import Busca from '@/components/Busca.vue'
import Footer from '@/components/Footer.vue'
import ContainerEspacos from "@/components/ContainerEspacos.vue"
export default {
  name: 'PageHome',
  components:{
    Header,
    Busca,
    ContainerEspacos,
    Footer
  },
  data(){
    return{
      imagemFundo:require('@/assets/imgs/bgPrincipal.jpeg'),
      imagemFundoCadastrase:require("@/assets/imgs/bgCadastrase.jpg"),
    }
  }
}
</script>


<style scoped>
.bg{
 background-size: cover;
  background-position: center;
  padding: 10px;
}

.container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.texto-emcima-busca{
  font-size: 52px;
  color: white;
}
.texto-cadastre{
  font-size: 52px;
  color: white;
}
.btn-cadastre{
  font-size: 36px;
  color: white;
}
.texto-espacos-disponiveis{
  color: black;
  font-size: 40px;
}
</style>
