<template>
    <div>
        <div :style="{backgroundImage:`url('${imagemFundo}')`}">
            <div class="opacidade">
                <div class="container">
                    <div class="container-login row ">
                        <div class="centraliza-texto login-font col-12 ">LOGIN</div>
                        <div class="row col-12">
                            <div class="col-12">
                                <q-input dark filled v-model="email" label="Email" type="email" class="campos-cadastro fonte-formulario" :rules="[val => !!val || 'Este campo é obrigatório']" ref="nome"/>
                            </div>
                            <div class="col-12">
                                <q-input dark filled v-model="password" label="Senha" type="password" class="campos-cadastro fonte-formulario" :rules="[val => !!val || 'Este campo é obrigatório']" ref="nome"/>
                            </div>
                            <div class="col-12 alinha-centro-btn-cadastrar">
                                <q-btn  outline rounded class="cor-verde-padrao btn-cadastrar" @click="fazLogin" label="Entrar" />
                            </div>
                        </div>
                        <div class="row col-12 separator separator-margin">
                        </div>
                        <div class="centraliza-texto">
                            <div class="centraliza-texto">Ainda não possui cadastro?</div>
                            <div class="centraliza-texto">Clique aqui para se cadastrar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            imagemFundo:require('@/assets/imgs/bgLogin.jpg'),
        }
    }
}
</script>

<style scoped>


.separator-margin{
    margin-top: 25px;
    margin-bottom: 10px;
}
.separator{
    border: 1px solid gray;
}
.container-login{
    margin: auto;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 1px solid gray;
    background-color: rgba(19, 18, 20, 0.9);
}
.container{
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 0px;
  padding: 15px;
  padding-top: 150px;
}
.opacidade{
  background-color: rgba(19, 18, 20, 0.9);
}
.centraliza-texto{
    text-align: center;
}
.login-font{
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.campos-cadastro{
  border:1px solid white;
  margin: 11px;
  color: white;
  border-radius: 5px;
}
.fonte-formulario{
  font-size: 22px;
}
.btn-cadastrar{
  width: 100%;
  font-size: 22px;
}
.teste{
    background-color: red;
}
@media (max-width:1366px){
    .container{
        width: 90%;
        padding: 0px;
        margin: 0px;
    }
    .container-login{
        width: 90%;
        margin: 0;
        padding: 0;
    }
}
</style>
