<template>
    <q-layout view="hHh Lpr lfr">
        <header/>
        <q-page-container>
        </q-page-container>
        <Footer />
    </q-layout>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
export default {
    components:{
    Header,
    Footer
  }
}
</script>

<style scoped>

</style>