<template>
    <div class="row">
        <q-select 
        filled 
        v-model="txtLocal"
        use-input
        hide-selected
        fill-input
        input-debounce="0"
        label="Cidade"
        :options="cidades"
        @filter="filterFn"
        @filter-abort="abortFilterFn"
        style="width: 250px"
        class="estilo-campos-busca col-md-12"
        />
        <q-select
        filled
        v-model="tipoEspacoSelecionado"
        :options="tiposEspacos"
        label="Tipo de espaço"
        class="estilo-campos-busca col-md-2 col-xs-12 col-sm-12"
        />
        <q-input
        v-model.number="qtdPessoas"
        type="number"
        label="Qtd. de pessoas"
        class="estilo-campos-busca col-md-2 col-xs-12 col-sm-12"
        filled
        />
        <q-btn color="primary" label="Buscar" class="col-md-2 col-xs-12 col-sm-12"/>
    </div>
</template>

<script>
export default {
    data(){
        return{
            qtdPessoas:0,
            tipoEspacoSelecionado:"",
            cidades:[],
            txtLocal:"",
            tiposEspacos:[
                {value:1, label:"Teste 1"},
                {value:2, label:"Teste 2"},
                {value:3, label:"Teste 3"},
            ],
        }
    },
    methods:{
        filterFn(){

        },
        abortFilterFn(){

        }
    }
}
</script>

<style scoped>
.estilo-campos-busca{
    background-color: white;
}

</style>