<template>
    <div class="row ">
        <Espacos class="col-md-3 col-xs-12 col-sm-12" />
        <Espacos class="col-md-3 col-xs-12 col-sm-12"/>
        <Espacos class="col-md-3 col-xs-12 col-sm-12"/>
        <Espacos class="col-md-3 col-xs-12 col-sm-12"/>
    </div>
</template>

<script>
import Espacos from "@/components/Espacos.vue"
export default {
    components:{
        Espacos,
    }
}
</script>

<style scoped>

</style>