<template>
    <div>
        <q-drawer v-model="isOpen" side="right" overlay behavior="mobile" elevated>
            <div class="drawer-container">
                <div v-if="isLoggedIn">
                    <div class="justifica-centro">
                        <div class="text-center">
                            <a href="#">MEUS ESPAÇOS</a>
                        </div>
                        <div class="text-center">
                            <a href="#">MEU PERFIL</a>
                        </div>
                        <div class="text-center">
                            <a href="#">AJUDA</a>
                        </div>
                        <div class="text-center">
                            <a href="#">SAIR</a>
                        </div>
                    </div>
                </div>
                <div v-else class="justifica-centro">
                    <div class="text-center">
                        <router-link to="/auth/login">ENTRAR</router-link>
                    </div>
                    <div class="text-center">
                        <router-link to="/auth/registro">REGISTRAR-SE</router-link>
                    </div>
                </div>
            </div>
        </q-drawer>
    </div>
</template>

<script>
export default {
    data(){
        return{
            isOpen:false,
            isLoggedIn:false,
        }
    },
    methods:{
        abreFechaDrawer(drawerStatus){
            this.isOpen = drawerStatus;
        }
    }
}
</script>

<style scoped>
.drawer-container{
    padding: 25px;
    font-size: 20px;
}
.drawer-container div{
    margin: 15px;
}
a:visited, a:active, a:link{
    color: black;
    text-decoration: none;
}


</style>