<template>
    <div class="magin-quadros justifica-centro-celular">
        <div>
            <div class="tamanho-imagem">
                <q-carousel animated
                    arrows
                    navigation
                    infinite
                    swipeable
                    height="270px"
                    v-model="slide">
                    <q-carousel-slide :name="1" img-src="https://cdn.quasar.dev/img/mountains.jpg" />
                    <q-carousel-slide :name="2" img-src="https://cdn.quasar.dev/img/parallax1.jpg" />
                    <q-carousel-slide :name="3" img-src="https://cdn.quasar.dev/img/parallax2.jpg" />
                    <q-carousel-slide :name="4" img-src="https://cdn.quasar.dev/img/quasar.jpg" />
                </q-carousel>
                
            </div>
            <div class="fonte-nome-espaco">
                Sala de reunião TOP
            </div>
            <div>
                Sinop
            </div>
            <div>
                R$ 75,00/Hora
            </div>
            <div>
                Falta implementar
                <!-- Colocar as estrelinhas-->
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            espacos:[],
            imgTeste:require('@/assets/imgs/roomteste.png'),
            slide:1
        }
    }
}
</script>

<style scoped>
.tamanho-imagem{
    width: 95%;
}
.magin-quadros{
    padding: 25px;
    height: 125px;
}
.fonte-nome-espaco{
    font-size: 19px;
}
@media screen and (max-width: 768px){
    .justifica-centro-celular{
        justify-content: center;
        padding:0;
    }
    .magin-quadros{
    padding: 0px;
}
}
</style>