<template>
    <div class="bg-footer text-white container-footer">
        <hr>
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-12">
                <a href="google.com" class="nome-bluedoor">Bluedoor</a>
                <a>Sobre</a>
                <a>Termos de serviço</a>
                <a>Contatos</a>
                <a>Cidades</a>
                <a>Dúvidas</a>
            </div> 
            <div class="offset-md-5 col-md-3 col-xs-12 col-sm-12 margin-top-lado-direito-footer">
                <a>Rentabilize seu espaço</a>
                <a>Redes sociais</a>
                <a>Politicas de privacidade</a>
                <a>Clientes</a>
                <a>Por que compartilhar</a>
            </div> 
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12  row" >
                <div>
                    <img :src="iconeBluedoor" class="iconeBluedoor"/>
                </div>
                <div class="texto-copyright">
                    Copyright&copy; 2019 Bluedoor - Todos os direitos reservados.
                </div>
            </div>
            <div class="offset-md-4 col-md-3 col-xs-12 col-sm-12">
                <a href="https://www.facebook.com/bluedoorspaces/" class="redes-sociais">
                    <img :src="iconeFacebook" alt="">
                </a>
                <a href="https://www.instagram.com/bluedoorspaces/?hl=pt-br" class="redes-sociais">
                    <img :src="iconeInstagram" alt="">
                </a>
            </div>
        </div>
    </div>
</template>
    

<script>
export default {
    name:"Footer",
    data(){
        return{
            iconeInstagram:require("@/assets/icones/instagram50px.png"),
            iconeFacebook:require("@/assets/icones/facebook50px.png"),
            iconeBluedoor:require("@/assets/icones/bluedoor-icone1.png")
        }
    }
}
</script>

<style scoped>
.bg-footer{
    background-color: #1733B1;
}
.container-footer{
    padding: 25px 50px 25px 50px;
}
a{
    display: block;
    text-decoration: none;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
.nome-bluedoor{
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.margin-top-lado-direito-footer{
    margin-top: 46px;
}
.redes-sociais{
    display: inline;
}
.texto-copyright{
    vertical-align: middle;
    padding-top: 25px;
    padding-left: 15px;
}
.iconeBluedoor{
    width: 45px;
    height: auto;
}
</style>