<template>
    <div class="q-pa-md">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 distancia-inputs">
                <q-input v-model="nome" label="Nome" :rules="[ val => val && val.length > 0 || 'Por favor, informe seu nome']"/>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 distancia-inputs">
                <q-input v-model="sobrenome" label="Sobrenome" :rules="[ val => val && val.length > 0 || 'Por favor, informe seu sobrenome']"/>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 distancia-inputs">
                <q-input v-model="email" label="Email" type="email" :rules="[ val => val && val.length > 0 || 'Por favor, informe seu email']"/>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 distancia-inputs">
                <q-input v-model="confirmacaoEmail" label="Confirme seu email" type="email" :rules="[ val => val && val.length > 0 || 'Por favor, confirme seu email']"/>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12 distancia-inputs">
                <q-input v-model="dtNascimento" label="Data de nascimento" :rules="[ val => val && val.length > 0 || 'Por favor, informe sua data de nascimento']">
                    <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                            <q-date mask="DD/MM/YYYY" v-model="dtNascimento" @input="() => $refs.qDateProxy.hide()" />
                        </q-popup-proxy>
                        </q-icon>
                    </template>
                </q-input>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12 distancia-inputs">
                <q-select 
                    v-model="estadoSelecionado"
                    :options="estados"
                    option-label="Nome"
                    option-value="id"
                    label="Estado"
                    clearable
                />
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12 distancia-inputs">
                <q-select
                    v-model="cidadeSelecionada"
                    label="Cidade"
                    :options="cidades"
                    option-value="id"
                    option-label="Nome"
                    @filter="buscaCidade"
                    clearable
                    autocomplete="off"
                    use-input
                    :rules="[val => !!val || 'Por favor, informe sua cidade']"
                    hint="Escolha um estado antes de continuar"
                >
                    <template v-slot:no-option>
                    <q-item>
                        <q-item-section class="text-grey">
                            Cidade não encontrada
                        </q-item-section>
                    </q-item>
                    </template>
                </q-select>
            </div>
            <div class="col-12 justifica-centro teste" style="paddingTop:25px">
                <q-btn color="primary">Cadastrar</q-btn>
            </div>
        </div>
        
    </div>
</template>

<script>
import * as conexao from '@/components/JS/Conexao.js'
export default {
    data(){
        return{
            nome:'',
            sobrenome:'',
            email:'',
            confirmacaoEmail:'',
            dtNascimento:'',
            estadoSelecionado:'',
            estados:[],
            cidadeSelecionada:'',
            cidades:[],
            cidadeBusca:[]

        }
    },
    methods:{
        carregaEstados(){
            conexao.get("states").then((result) => {
                this.estados = JSON.parse(result);
            }).catch((err) => {
                console.log(err);
            });
        },
        carregaMunicipios(CodEstado){
            conexao.getComCabecalho('cities','CodEstado',CodEstado).then((result) => {
                this.cidades = JSON.parse(result);
                this.cidadeBusca = this.cidades;
            }).catch((err) => {
               console.log(err);
            });
        },
        buscaCidade(val, update, abort){
            update(() =>{
                const termo = val.toLowerCase();
                this.cidades = this.cidadeBusca.filter(v => v.Nome.toLowerCase().indexOf(termo) > -1);
            });
        }
    },
    mounted(){
        this.carregaEstados();
    },
    watch:{
        estadoSelecionado:function(value){
            if(value){
                this.carregaMunicipios(value.id);
            }
        }
    }
}
</script>

<style scoped>
.distancia-inputs{
    padding: 10px;
}

</style>