<template>
  <div>
    <q-header class="cor-cabecalho-bluedoor margin-cabelho">
      <q-toolbar class="cor-cabecalho-bluedoor">
        <q-toolbar-title>
          <router-link to="/">
            <img :src="logoBlueDoor" class="cor-cabecalho-bluedoor img-responsiva logo">
          </router-link>
        </q-toolbar-title>
        <div>
          <div class="estilo-botoes-header displayHeader">
            <div >SOBRE</div>
          </div>
          <div  v-if="isLoged"  class="estilo-botoes-header displayHeader">
            <div>CADASTRE SEU ESPAÇO</div>
          </div>
          <div v-else  class="estilo-botoes-header displayHeader">
            <router-link to="/auth/registro">REGISTRAR-SE</router-link>
          </div>
          <div  class="estilo-botoes-header displayHeader">
            <div >ENTRAR</div>
          </div>
        </div>
        <q-btn flat icon="menu" @click="abreFechaDrawer(!drawer)" class="menuIcon" />
        <Drawer ref="dr"/>
      </q-toolbar>
    </q-header>
  </div>
</template>


<script>
import Drawer from "./Drawer.vue";
export default {
    name:'Cabecalho',
    components:{
      Drawer
    },
    data(){
        return{
          openDrawer:false,
          logoBlueDoor:require('@/assets/imgs/logo1.png'),
          drawer:false,
          isLoged:false
        }
    },
    methods:{
      abreFechaDrawer(drawerStatus){
        console.log("Status ->"+drawerStatus);
        this.$refs.dr.abreFechaDrawer(drawerStatus);
      },

    }
}
</script>

<style scoped>
.cor-cabecalho-bluedoor{
 background-color: rgba(255, 255, 255, 0.45)
 /* transparencia 0.65*/
}
.img-responsiva{
  padding-top: 5px;
  width: 20%;
  height: auto;
}
@media screen and (max-width:768px){
  .img-responsiva{
    width: 50%;
    height: auto;
  }
}
.logo{
  margin-top: 0px;
  margin-left:20px;
  margin-bottom: 10x;
}
.estilo-botoes-header{
  font-size: 20px;
  color: #35393D;
  margin: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.borda-entrar{
  border: 2px solid #35393D;
  padding: 8px;
  border-radius: 5px;
}
.borda-entrar:hover{
  transition: 0.3s;
  color: white;
  background-color: #35393D;
}
.fixed-header{
  overflow: hidden;
  position: fixed;
  top: 0;
}
.menuIcon{
  color: black;
}
.displayHeader{
  display: inline-block;
}
a:visited, a:active, a:link{
  color: black;
  text-decoration: none;
}
</style>
