<template>
  <div id="app">
    <q-layout view="hHh Lpr lfr">
        <Header />
        <q-page-container>
          <router-view/>
        </q-page-container>
        <Footer />
    </q-layout>
  </div>
</template>




<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
export default {
  components:{
    Header,
    Footer
  }
}
</script>
<style>
.text-center{
  text-align: center;
}
.teste{
  background-color: red;
}
.ajusta-busca-centro{
  justify-content: center;
}
.justifica-centro{ 
  justify-content: center;
}
</style>
